@use 'vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'e-Ukraine', Helvetica;
  margin: 0;
  background-color: #e8e5f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: $font-base;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}
